<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-178</integer>
		<key>@MMK_R_c</key>
		<integer>-104</integer>
		<key>@MMK_R_e</key>
		<integer>-93</integer>
		<key>@MMK_R_n</key>
		<integer>-70</integer>
		<key>@MMK_R_o</key>
		<integer>-142</integer>
		<key>@MMK_R_s</key>
		<integer>-148</integer>
		<key>@MMK_R_u</key>
		<integer>-60</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-340</integer>
		<key>g</key>
		<integer>-110</integer>
		<key>m</key>
		<integer>-90</integer>
		<key>period</key>
		<integer>-270</integer>
		<key>r</key>
		<integer>-86</integer>
		<key>v</key>
		<integer>-51</integer>
		<key>w</key>
		<integer>-60</integer>
		<key>x</key>
		<integer>-190</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>comma</key>
		<integer>-210</integer>
		<key>period</key>
		<integer>-240</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>comma</key>
		<integer>-200</integer>
		<key>period</key>
		<integer>-170</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_e</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>comma</key>
		<integer>-240</integer>
		<key>g</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-230</integer>
		<key>r</key>
		<integer>-30</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_e</key>
		<integer>-138</integer>
		<key>@MMK_R_o</key>
		<integer>-147</integer>
		<key>@MMK_R_u</key>
		<integer>-146</integer>
		<key>@MMK_R_y</key>
		<integer>-110</integer>
		<key>v</key>
		<integer>-155</integer>
		<key>w</key>
		<integer>-110</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-60</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-209</integer>
		<key>@MMK_R_c</key>
		<integer>-210</integer>
		<key>@MMK_R_e</key>
		<integer>-156</integer>
		<key>@MMK_R_n</key>
		<integer>-155</integer>
		<key>@MMK_R_o</key>
		<integer>-156</integer>
		<key>@MMK_R_s</key>
		<integer>-200</integer>
		<key>@MMK_R_u</key>
		<integer>-110</integer>
		<key>comma</key>
		<integer>-450</integer>
		<key>g</key>
		<integer>-200</integer>
		<key>m</key>
		<integer>-150</integer>
		<key>period</key>
		<integer>-510</integer>
		<key>r</key>
		<integer>-130</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_e</key>
		<integer>-22</integer>
		<key>@MMK_R_o</key>
		<integer>-27</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-395</integer>
		<key>@MMK_R_c</key>
		<integer>-265</integer>
		<key>@MMK_R_e</key>
		<integer>-219</integer>
		<key>@MMK_R_i</key>
		<integer>-188</integer>
		<key>@MMK_R_n</key>
		<integer>-260</integer>
		<key>@MMK_R_o</key>
		<integer>-374</integer>
		<key>@MMK_R_s</key>
		<integer>-310</integer>
		<key>@MMK_R_u</key>
		<integer>-305</integer>
		<key>@MMK_R_y</key>
		<integer>-240</integer>
		<key>comma</key>
		<integer>-390</integer>
		<key>g</key>
		<integer>-200</integer>
		<key>m</key>
		<integer>-310</integer>
		<key>p</key>
		<integer>-250</integer>
		<key>period</key>
		<integer>-340</integer>
		<key>q</key>
		<integer>-290</integer>
		<key>r</key>
		<integer>-325</integer>
		<key>v</key>
		<integer>-200</integer>
		<key>w</key>
		<integer>-165</integer>
		<key>x</key>
		<integer>-220</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-120</integer>
		<key>@MMK_R_c</key>
		<integer>-60</integer>
		<key>@MMK_R_e</key>
		<integer>-70</integer>
		<key>@MMK_R_n</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_s</key>
		<integer>-50</integer>
		<key>@MMK_R_u</key>
		<integer>-70</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-50</integer>
		<key>comma</key>
		<integer>-130</integer>
		<key>g</key>
		<integer>-50</integer>
		<key>m</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-90</integer>
		<key>r</key>
		<integer>-60</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-35</integer>
		<key>@MMK_R_e</key>
		<integer>-45</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-13</integer>
		<key>r</key>
		<integer>-30</integer>
		<key>x</key>
		<integer>-30</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-25</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-17</integer>
		<key>@MMK_R_e</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-8</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-27</integer>
		<key>@MMK_R_e</key>
		<integer>-8</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
	</dict>
</dict>
</plist>
